body {
  font-family: 'Roboto', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.contact_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact_section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_section .form_container {
  max-width: 600px;
  width: 100%;
}

.contact_section .form_container input {
  width: 100%;
  border: 1px solid #00c6a9;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #101010;
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #00c6a9;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #00c6a9;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #00c6a9;
}

.contact_section .form_container input::placeholder {
  color: #00c6a9;
}

.contact_section .form_container input.message-box {
  height: 120px;
}

.contact_section .form_container button {
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 65px;
  background-color: #00c6a9;
  color: #ffffff;
  border-radius: 0;
  font-weight: bold;
}

.contact_section .form_container button:hover {
  background-color: #00937d;
}

.contact_section .img-box img {
  width: 100%;
}
