body {
  font-family: 'Roboto', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}